p {
}

.banner {
}

.btn-signup {
  border: 2px solid;
    border-radius: 50px;
    background-color: #E34635;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    font-family: arial;
    font-size: 14px;
    border: none;
    display: block;
    margin: 50px auto;
}
